<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BAT_ANT_REPAY_PLAN_TEMPMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BAT_ANT_REPAY_PLAN_TEMP">
    <result column="CONTRACT_NO" jdbcType="VARCHAR" property="contractNo" />
    <result column="TERM_NO" jdbcType="DECIMAL" property="termNo" />
    <result column="START_DATE" jdbcType="VARCHAR" property="startDate" />
    <result column="END_DATE" jdbcType="VARCHAR" property="endDate" />
    <result column="PRIN_AMT" jdbcType="DECIMAL" property="prinAmt" />
    <result column="INT_AMT" jdbcType="DECIMAL" property="intAmt" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="DATA_DATE" jdbcType="VARCHAR" property="dataDate" />
  </resultMap>
  <insert id="insert" parameterType="com.bea.olp.BAT_ANT_REPAY_PLAN_TEMP">
    insert into BAT_ANT_REPAY_PLAN_TEMP (CONTRACT_NO, TERM_NO, START_DATE, 
      END_DATE, PRIN_AMT, INT_AMT, 
      INPUT_DATE, INPUT_TIME, DATA_DATE
      )
    values (#{contractNo,jdbcType=VARCHAR}, #{termNo,jdbcType=DECIMAL}, #{startDate,jdbcType=VARCHAR}, 
      #{endDate,jdbcType=VARCHAR}, #{prinAmt,jdbcType=DECIMAL}, #{intAmt,jdbcType=DECIMAL}, 
      #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, #{dataDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BAT_ANT_REPAY_PLAN_TEMP">
    insert into BAT_ANT_REPAY_PLAN_TEMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractNo != null">
        CONTRACT_NO,
      </if>
      <if test="termNo != null">
        TERM_NO,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="prinAmt != null">
        PRIN_AMT,
      </if>
      <if test="intAmt != null">
        INT_AMT,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="dataDate != null">
        DATA_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractNo != null">
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="termNo != null">
        #{termNo,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="prinAmt != null">
        #{prinAmt,jdbcType=DECIMAL},
      </if>
      <if test="intAmt != null">
        #{intAmt,jdbcType=DECIMAL},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="dataDate != null">
        #{dataDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>