<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BAT_TASK_MUTEXMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BAT_TASK_MUTEX">
    <id column="MUTEX_NO" jdbcType="VARCHAR" property="mutexNo" />
    <result column="MUTEX_TASK_NO_LIST" jdbcType="VARCHAR" property="mutexTaskNoList" />
    <result column="USE_FLAG" jdbcType="VARCHAR" property="useFlag" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="OP_USER_ID" jdbcType="VARCHAR" property="opUserId" />
    <result column="OP_ORG_ID" jdbcType="VARCHAR" property="opOrgId" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    MUTEX_NO, MUTEX_TASK_NO_LIST, USE_FLAG, REMARKS, OP_USER_ID, OP_ORG_ID, INPUT_DATE, 
    INPUT_TIME, LAST_UPDATE_DATE, LAST_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BAT_TASK_MUTEX
    where MUTEX_NO = #{mutexNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BAT_TASK_MUTEX
    where MUTEX_NO = #{mutexNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.BAT_TASK_MUTEX">
    insert into BAT_TASK_MUTEX (MUTEX_NO, MUTEX_TASK_NO_LIST, USE_FLAG, 
      REMARKS, OP_USER_ID, OP_ORG_ID, 
      INPUT_DATE, INPUT_TIME, LAST_UPDATE_DATE, 
      LAST_UPDATE_TIME)
    values (#{mutexNo,jdbcType=VARCHAR}, #{mutexTaskNoList,jdbcType=VARCHAR}, #{useFlag,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{opUserId,jdbcType=VARCHAR}, #{opOrgId,jdbcType=VARCHAR}, 
      #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BAT_TASK_MUTEX">
    insert into BAT_TASK_MUTEX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mutexNo != null">
        MUTEX_NO,
      </if>
      <if test="mutexTaskNoList != null">
        MUTEX_TASK_NO_LIST,
      </if>
      <if test="useFlag != null">
        USE_FLAG,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="opUserId != null">
        OP_USER_ID,
      </if>
      <if test="opOrgId != null">
        OP_ORG_ID,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mutexNo != null">
        #{mutexNo,jdbcType=VARCHAR},
      </if>
      <if test="mutexTaskNoList != null">
        #{mutexTaskNoList,jdbcType=VARCHAR},
      </if>
      <if test="useFlag != null">
        #{useFlag,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="opUserId != null">
        #{opUserId,jdbcType=VARCHAR},
      </if>
      <if test="opOrgId != null">
        #{opOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.BAT_TASK_MUTEX">
    update BAT_TASK_MUTEX
    <set>
      <if test="mutexTaskNoList != null">
        MUTEX_TASK_NO_LIST = #{mutexTaskNoList,jdbcType=VARCHAR},
      </if>
      <if test="useFlag != null">
        USE_FLAG = #{useFlag,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="opUserId != null">
        OP_USER_ID = #{opUserId,jdbcType=VARCHAR},
      </if>
      <if test="opOrgId != null">
        OP_ORG_ID = #{opOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where MUTEX_NO = #{mutexNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.BAT_TASK_MUTEX">
    update BAT_TASK_MUTEX
    set MUTEX_TASK_NO_LIST = #{mutexTaskNoList,jdbcType=VARCHAR},
      USE_FLAG = #{useFlag,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      OP_USER_ID = #{opUserId,jdbcType=VARCHAR},
      OP_ORG_ID = #{opOrgId,jdbcType=VARCHAR},
      INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR}
    where MUTEX_NO = #{mutexNo,jdbcType=VARCHAR}
  </update>
</mapper>