<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BAT_SOP_DKFFDZ_HISMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BAT_SOP_DKFFDZ_HIS">
    <result column="DT_DATE" jdbcType="VARCHAR" property="dtDate" />
    <result column="BILL_NO" jdbcType="VARCHAR" property="billNo" />
    <result column="LOAN_AMT" jdbcType="DECIMAL" property="loanAmt" />
    <result column="CO_PLATFORM" jdbcType="CHAR" property="coPlatform" />
    <result column="PRD_CODE" jdbcType="VARCHAR" property="prdCode" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.bea.olp.BAT_SOP_DKFFDZ_HIS">
    insert into BAT_SOP_DKFFDZ_HIS (DT_DATE, BILL_NO, LOAN_AMT, 
      CO_PLATFORM, PRD_CODE, INPUT_DATE, 
      INPUT_TIME, LAST_UPDATE_DATE, LAST_UPDATE_TIME
      )
    values (#{dtDate,jdbcType=VARCHAR}, #{billNo,jdbcType=VARCHAR}, #{loanAmt,jdbcType=DECIMAL}, 
      #{coPlatform,jdbcType=CHAR}, #{prdCode,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, 
      #{inputTime,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BAT_SOP_DKFFDZ_HIS">
    insert into BAT_SOP_DKFFDZ_HIS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dtDate != null">
        DT_DATE,
      </if>
      <if test="billNo != null">
        BILL_NO,
      </if>
      <if test="loanAmt != null">
        LOAN_AMT,
      </if>
      <if test="coPlatform != null">
        CO_PLATFORM,
      </if>
      <if test="prdCode != null">
        PRD_CODE,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dtDate != null">
        #{dtDate,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="loanAmt != null">
        #{loanAmt,jdbcType=DECIMAL},
      </if>
      <if test="coPlatform != null">
        #{coPlatform,jdbcType=CHAR},
      </if>
      <if test="prdCode != null">
        #{prdCode,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>