<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BAT_EVENT_CFGMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BAT_EVENT_CFG">
    <id column="EVENT_NO" jdbcType="VARCHAR" property="eventNo" />
    <result column="TASK_NO" jdbcType="VARCHAR" property="taskNo" />
    <result column="EVENT_CLASS" jdbcType="VARCHAR" property="eventClass" />
    <result column="RUN_NUM" jdbcType="DECIMAL" property="runNum" />
    <result column="DATA_FILE_NAME" jdbcType="VARCHAR" property="dataFileName" />
    <result column="SIGNAL_FILE_NAME" jdbcType="VARCHAR" property="signalFileName" />
    <result column="TAB_NAME" jdbcType="VARCHAR" property="tabName" />
    <result column="MD5_FLAG" jdbcType="VARCHAR" property="md5Flag" />
    <result column="USE_FLAG" jdbcType="VARCHAR" property="useFlag" />
    <result column="OP_USER_ID" jdbcType="VARCHAR" property="opUserId" />
    <result column="OP_ORG_ID" jdbcType="VARCHAR" property="opOrgId" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
    <result column="FULL_FLAG" jdbcType="VARCHAR" property="fullFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    EVENT_NO, TASK_NO, EVENT_CLASS, RUN_NUM, DATA_FILE_NAME, SIGNAL_FILE_NAME, TAB_NAME, 
    MD5_FLAG, USE_FLAG, OP_USER_ID, OP_ORG_ID, INPUT_DATE, INPUT_TIME, LAST_UPDATE_DATE, 
    LAST_UPDATE_TIME, FULL_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BAT_EVENT_CFG
    where EVENT_NO = #{eventNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BAT_EVENT_CFG
    where EVENT_NO = #{eventNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.BAT_EVENT_CFG">
    insert into BAT_EVENT_CFG (EVENT_NO, TASK_NO, EVENT_CLASS, 
      RUN_NUM, DATA_FILE_NAME, SIGNAL_FILE_NAME, 
      TAB_NAME, MD5_FLAG, USE_FLAG, 
      OP_USER_ID, OP_ORG_ID, INPUT_DATE, 
      INPUT_TIME, LAST_UPDATE_DATE, LAST_UPDATE_TIME, 
      FULL_FLAG)
    values (#{eventNo,jdbcType=VARCHAR}, #{taskNo,jdbcType=VARCHAR}, #{eventClass,jdbcType=VARCHAR}, 
      #{runNum,jdbcType=DECIMAL}, #{dataFileName,jdbcType=VARCHAR}, #{signalFileName,jdbcType=VARCHAR}, 
      #{tabName,jdbcType=VARCHAR}, #{md5Flag,jdbcType=VARCHAR}, #{useFlag,jdbcType=VARCHAR}, 
      #{opUserId,jdbcType=VARCHAR}, #{opOrgId,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, 
      #{inputTime,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR}, 
      #{fullFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BAT_EVENT_CFG">
    insert into BAT_EVENT_CFG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventNo != null">
        EVENT_NO,
      </if>
      <if test="taskNo != null">
        TASK_NO,
      </if>
      <if test="eventClass != null">
        EVENT_CLASS,
      </if>
      <if test="runNum != null">
        RUN_NUM,
      </if>
      <if test="dataFileName != null">
        DATA_FILE_NAME,
      </if>
      <if test="signalFileName != null">
        SIGNAL_FILE_NAME,
      </if>
      <if test="tabName != null">
        TAB_NAME,
      </if>
      <if test="md5Flag != null">
        MD5_FLAG,
      </if>
      <if test="useFlag != null">
        USE_FLAG,
      </if>
      <if test="opUserId != null">
        OP_USER_ID,
      </if>
      <if test="opOrgId != null">
        OP_ORG_ID,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="fullFlag != null">
        FULL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventNo != null">
        #{eventNo,jdbcType=VARCHAR},
      </if>
      <if test="taskNo != null">
        #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="eventClass != null">
        #{eventClass,jdbcType=VARCHAR},
      </if>
      <if test="runNum != null">
        #{runNum,jdbcType=DECIMAL},
      </if>
      <if test="dataFileName != null">
        #{dataFileName,jdbcType=VARCHAR},
      </if>
      <if test="signalFileName != null">
        #{signalFileName,jdbcType=VARCHAR},
      </if>
      <if test="tabName != null">
        #{tabName,jdbcType=VARCHAR},
      </if>
      <if test="md5Flag != null">
        #{md5Flag,jdbcType=VARCHAR},
      </if>
      <if test="useFlag != null">
        #{useFlag,jdbcType=VARCHAR},
      </if>
      <if test="opUserId != null">
        #{opUserId,jdbcType=VARCHAR},
      </if>
      <if test="opOrgId != null">
        #{opOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fullFlag != null">
        #{fullFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.BAT_EVENT_CFG">
    update BAT_EVENT_CFG
    <set>
      <if test="taskNo != null">
        TASK_NO = #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="eventClass != null">
        EVENT_CLASS = #{eventClass,jdbcType=VARCHAR},
      </if>
      <if test="runNum != null">
        RUN_NUM = #{runNum,jdbcType=DECIMAL},
      </if>
      <if test="dataFileName != null">
        DATA_FILE_NAME = #{dataFileName,jdbcType=VARCHAR},
      </if>
      <if test="signalFileName != null">
        SIGNAL_FILE_NAME = #{signalFileName,jdbcType=VARCHAR},
      </if>
      <if test="tabName != null">
        TAB_NAME = #{tabName,jdbcType=VARCHAR},
      </if>
      <if test="md5Flag != null">
        MD5_FLAG = #{md5Flag,jdbcType=VARCHAR},
      </if>
      <if test="useFlag != null">
        USE_FLAG = #{useFlag,jdbcType=VARCHAR},
      </if>
      <if test="opUserId != null">
        OP_USER_ID = #{opUserId,jdbcType=VARCHAR},
      </if>
      <if test="opOrgId != null">
        OP_ORG_ID = #{opOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="fullFlag != null">
        FULL_FLAG = #{fullFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where EVENT_NO = #{eventNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.BAT_EVENT_CFG">
    update BAT_EVENT_CFG
    set TASK_NO = #{taskNo,jdbcType=VARCHAR},
      EVENT_CLASS = #{eventClass,jdbcType=VARCHAR},
      RUN_NUM = #{runNum,jdbcType=DECIMAL},
      DATA_FILE_NAME = #{dataFileName,jdbcType=VARCHAR},
      SIGNAL_FILE_NAME = #{signalFileName,jdbcType=VARCHAR},
      TAB_NAME = #{tabName,jdbcType=VARCHAR},
      MD5_FLAG = #{md5Flag,jdbcType=VARCHAR},
      USE_FLAG = #{useFlag,jdbcType=VARCHAR},
      OP_USER_ID = #{opUserId,jdbcType=VARCHAR},
      OP_ORG_ID = #{opOrgId,jdbcType=VARCHAR},
      INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      FULL_FLAG = #{fullFlag,jdbcType=VARCHAR}
    where EVENT_NO = #{eventNo,jdbcType=VARCHAR}
  </update>
</mapper>