<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BIZ_ANT_ACCOUNTINGMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BIZ_ANT_ACCOUNTING">
    <result column="ACCOUNTING_TYPE" jdbcType="VARCHAR" property="accountingType" />
    <result column="ACCOUNTING_AMT" jdbcType="DECIMAL" property="accountingAmt" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
    <result column="DATA_DATE" jdbcType="VARCHAR" property="dataDate" />
  </resultMap>
  <insert id="insert" parameterType="com.bea.olp.BIZ_ANT_ACCOUNTING">
    insert into BIZ_ANT_ACCOUNTING (ACCOUNTING_TYPE, ACCOUNTING_AMT, INPUT_DATE, 
      INPUT_TIME, LAST_UPDATE_DATE, LAST_UPDATE_TIME, 
      DATA_DATE)
    values (#{accountingType,jdbcType=VARCHAR}, #{accountingAmt,jdbcType=DECIMAL}, #{inputDate,jdbcType=VARCHAR}, 
      #{inputTime,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR}, 
      #{dataDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BIZ_ANT_ACCOUNTING">
    insert into BIZ_ANT_ACCOUNTING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountingType != null">
        ACCOUNTING_TYPE,
      </if>
      <if test="accountingAmt != null">
        ACCOUNTING_AMT,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="dataDate != null">
        DATA_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountingType != null">
        #{accountingType,jdbcType=VARCHAR},
      </if>
      <if test="accountingAmt != null">
        #{accountingAmt,jdbcType=DECIMAL},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="dataDate != null">
        #{dataDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>