<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BIZ_TD_BLACK_LIST_DETSMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BIZ_TD_BLACK_LIST_DETS">
    <result column="APP_NO" jdbcType="VARCHAR" property="appNo" />
    <result column="RULE_ID" jdbcType="VARCHAR" property="ruleId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CASE_CODE" jdbcType="VARCHAR" property="caseCode" />
    <result column="EXECUTE_COURT" jdbcType="VARCHAR" property="executeCourt" />
    <result column="CASE_DATE" jdbcType="VARCHAR" property="caseDate" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="CARRY_OUT" jdbcType="VARCHAR" property="carryOut" />
    <result column="EXECUTED_NAME" jdbcType="VARCHAR" property="executedName" />
    <result column="FRAUD_TYPE" jdbcType="VARCHAR" property="fraudType" />
    <result column="SPECIFIC_CIRCUMSTANCES" jdbcType="VARCHAR" property="specificCircumstances" />
    <result column="EXECUTE_SUBJECT" jdbcType="VARCHAR" property="executeSubject" />
    <result column="EXECUTE_STATUS" jdbcType="VARCHAR" property="executeStatus" />
    <result column="EVIDENCE_COURT" jdbcType="VARCHAR" property="evidenceCourt" />
    <result column="TERM_DUTY" jdbcType="VARCHAR" property="termDuty" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="EXECUTE_CODE" jdbcType="VARCHAR" property="executeCode" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="AGE" jdbcType="VARCHAR" property="age" />
    <result column="EVIDENCE_TIME" jdbcType="VARCHAR" property="evidenceTime" />
    <result column="FRAUD_TYPE_DISPLAY_NAME" jdbcType="VARCHAR" property="fraudTypeDisplayName" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.bea.olp.BIZ_TD_BLACK_LIST_DETS">
    insert into BIZ_TD_BLACK_LIST_DETS (APP_NO, RULE_ID, TYPE, 
      CASE_CODE, EXECUTE_COURT, CASE_DATE, 
      GENDER, CARRY_OUT, EXECUTED_NAME, 
      FRAUD_TYPE, SPECIFIC_CIRCUMSTANCES, EXECUTE_SUBJECT, 
      EXECUTE_STATUS, EVIDENCE_COURT, TERM_DUTY, 
      PROVINCE, EXECUTE_CODE, VALUE, 
      AGE, EVIDENCE_TIME, FRAUD_TYPE_DISPLAY_NAME, 
      INPUT_DATE, INPUT_TIME, LAST_UPDATE_DATE, 
      LAST_UPDATE_TIME)
    values (#{appNo,jdbcType=VARCHAR}, #{ruleId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{caseCode,jdbcType=VARCHAR}, #{executeCourt,jdbcType=VARCHAR}, #{caseDate,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{carryOut,jdbcType=VARCHAR}, #{executedName,jdbcType=VARCHAR}, 
      #{fraudType,jdbcType=VARCHAR}, #{specificCircumstances,jdbcType=VARCHAR}, #{executeSubject,jdbcType=VARCHAR}, 
      #{executeStatus,jdbcType=VARCHAR}, #{evidenceCourt,jdbcType=VARCHAR}, #{termDuty,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{executeCode,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{age,jdbcType=VARCHAR}, #{evidenceTime,jdbcType=VARCHAR}, #{fraudTypeDisplayName,jdbcType=VARCHAR}, 
      #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BIZ_TD_BLACK_LIST_DETS">
    insert into BIZ_TD_BLACK_LIST_DETS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        APP_NO,
      </if>
      <if test="ruleId != null">
        RULE_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="caseCode != null">
        CASE_CODE,
      </if>
      <if test="executeCourt != null">
        EXECUTE_COURT,
      </if>
      <if test="caseDate != null">
        CASE_DATE,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="carryOut != null">
        CARRY_OUT,
      </if>
      <if test="executedName != null">
        EXECUTED_NAME,
      </if>
      <if test="fraudType != null">
        FRAUD_TYPE,
      </if>
      <if test="specificCircumstances != null">
        SPECIFIC_CIRCUMSTANCES,
      </if>
      <if test="executeSubject != null">
        EXECUTE_SUBJECT,
      </if>
      <if test="executeStatus != null">
        EXECUTE_STATUS,
      </if>
      <if test="evidenceCourt != null">
        EVIDENCE_COURT,
      </if>
      <if test="termDuty != null">
        TERM_DUTY,
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="executeCode != null">
        EXECUTE_CODE,
      </if>
      <if test="value != null">
        VALUE,
      </if>
      <if test="age != null">
        AGE,
      </if>
      <if test="evidenceTime != null">
        EVIDENCE_TIME,
      </if>
      <if test="fraudTypeDisplayName != null">
        FRAUD_TYPE_DISPLAY_NAME,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="caseCode != null">
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="executeCourt != null">
        #{executeCourt,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null">
        #{caseDate,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="carryOut != null">
        #{carryOut,jdbcType=VARCHAR},
      </if>
      <if test="executedName != null">
        #{executedName,jdbcType=VARCHAR},
      </if>
      <if test="fraudType != null">
        #{fraudType,jdbcType=VARCHAR},
      </if>
      <if test="specificCircumstances != null">
        #{specificCircumstances,jdbcType=VARCHAR},
      </if>
      <if test="executeSubject != null">
        #{executeSubject,jdbcType=VARCHAR},
      </if>
      <if test="executeStatus != null">
        #{executeStatus,jdbcType=VARCHAR},
      </if>
      <if test="evidenceCourt != null">
        #{evidenceCourt,jdbcType=VARCHAR},
      </if>
      <if test="termDuty != null">
        #{termDuty,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="executeCode != null">
        #{executeCode,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="evidenceTime != null">
        #{evidenceTime,jdbcType=VARCHAR},
      </if>
      <if test="fraudTypeDisplayName != null">
        #{fraudTypeDisplayName,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>