<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BIZ_BLN_INFOMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BIZ_BLN_INFO">
    <id column="APP_NO" jdbcType="VARCHAR" property="appNo" />
    <result column="IS_DOUBTFUL" jdbcType="VARCHAR" property="isDoubtful" />
    <result column="WATCH_LIST_COUNT" jdbcType="DECIMAL" property="watchListCount" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
    <result column="BAK1" jdbcType="VARCHAR" property="bak1" />
    <result column="BAK2" jdbcType="VARCHAR" property="bak2" />
    <result column="BAK3" jdbcType="VARCHAR" property="bak3" />
    <result column="BAK4" jdbcType="VARCHAR" property="bak4" />
    <result column="BAK5" jdbcType="VARCHAR" property="bak5" />
  </resultMap>
  <sql id="Base_Column_List">
    APP_NO, IS_DOUBTFUL, WATCH_LIST_COUNT, INPUT_DATE, INPUT_TIME, LAST_UPDATE_DATE, 
    LAST_UPDATE_TIME, BAK1, BAK2, BAK3, BAK4, BAK5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BIZ_BLN_INFO
    where APP_NO = #{appNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BIZ_BLN_INFO
    where APP_NO = #{appNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.BIZ_BLN_INFO">
    insert into BIZ_BLN_INFO (APP_NO, IS_DOUBTFUL, WATCH_LIST_COUNT, 
      INPUT_DATE, INPUT_TIME, LAST_UPDATE_DATE, 
      LAST_UPDATE_TIME, BAK1, BAK2, 
      BAK3, BAK4, BAK5)
    values (#{appNo,jdbcType=VARCHAR}, #{isDoubtful,jdbcType=VARCHAR}, #{watchListCount,jdbcType=DECIMAL}, 
      #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, 
      #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR}, #{bak5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BIZ_BLN_INFO">
    insert into BIZ_BLN_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        APP_NO,
      </if>
      <if test="isDoubtful != null">
        IS_DOUBTFUL,
      </if>
      <if test="watchListCount != null">
        WATCH_LIST_COUNT,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="bak1 != null">
        BAK1,
      </if>
      <if test="bak2 != null">
        BAK2,
      </if>
      <if test="bak3 != null">
        BAK3,
      </if>
      <if test="bak4 != null">
        BAK4,
      </if>
      <if test="bak5 != null">
        BAK5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="isDoubtful != null">
        #{isDoubtful,jdbcType=VARCHAR},
      </if>
      <if test="watchListCount != null">
        #{watchListCount,jdbcType=DECIMAL},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null">
        #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null">
        #{bak5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.BIZ_BLN_INFO">
    update BIZ_BLN_INFO
    <set>
      <if test="isDoubtful != null">
        IS_DOUBTFUL = #{isDoubtful,jdbcType=VARCHAR},
      </if>
      <if test="watchListCount != null">
        WATCH_LIST_COUNT = #{watchListCount,jdbcType=DECIMAL},
      </if>
      <if test="inputDate != null">
        INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        BAK1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        BAK2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        BAK3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null">
        BAK4 = #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null">
        BAK5 = #{bak5,jdbcType=VARCHAR},
      </if>
    </set>
    where APP_NO = #{appNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.BIZ_BLN_INFO">
    update BIZ_BLN_INFO
    set IS_DOUBTFUL = #{isDoubtful,jdbcType=VARCHAR},
      WATCH_LIST_COUNT = #{watchListCount,jdbcType=DECIMAL},
      INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      BAK1 = #{bak1,jdbcType=VARCHAR},
      BAK2 = #{bak2,jdbcType=VARCHAR},
      BAK3 = #{bak3,jdbcType=VARCHAR},
      BAK4 = #{bak4,jdbcType=VARCHAR},
      BAK5 = #{bak5,jdbcType=VARCHAR}
    where APP_NO = #{appNo,jdbcType=VARCHAR}
  </update>
</mapper>