<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BIZ_BORR_SUB_INFOMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BIZ_BORR_SUB_INFO">
    <id column="APP_NO" jdbcType="VARCHAR" property="appNo" />
    <result column="CUST_ID" jdbcType="VARCHAR" property="custId" />
    <result column="TP_OBJ_ID" jdbcType="VARCHAR" property="tpObjId" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_CODE" jdbcType="VARCHAR" property="certCode" />
    <result column="LOAN_BAL" jdbcType="DECIMAL" property="loanBal" />
    <result column="TOTAL_LOAN_BAL" jdbcType="DECIMAL" property="totalLoanBal" />
    <result column="CUST_TYPE_E" jdbcType="VARCHAR" property="custTypeE" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
    <result column="FIELD1" jdbcType="VARCHAR" property="field1" />
    <result column="FIELD2" jdbcType="VARCHAR" property="field2" />
    <result column="FIELD3" jdbcType="VARCHAR" property="field3" />
    <result column="FIELD4" jdbcType="VARCHAR" property="field4" />
    <result column="FIELD5" jdbcType="VARCHAR" property="field5" />
    <result column="FIELD6" jdbcType="VARCHAR" property="field6" />
    <result column="FIELD7" jdbcType="DECIMAL" property="field7" />
    <result column="FIELD8" jdbcType="DECIMAL" property="field8" />
    <result column="FIELD9" jdbcType="DECIMAL" property="field9" />
    <result column="FIELD10" jdbcType="DECIMAL" property="field10" />
  </resultMap>
  <sql id="Base_Column_List">
    APP_NO, CUST_ID, TP_OBJ_ID, CUST_NAME, CERT_TYPE, CERT_CODE, LOAN_BAL, TOTAL_LOAN_BAL, 
    CUST_TYPE_E, PHONE, INPUT_DATE, INPUT_TIME, LAST_UPDATE_DATE, LAST_UPDATE_TIME, FIELD1, 
    FIELD2, FIELD3, FIELD4, FIELD5, FIELD6, FIELD7, FIELD8, FIELD9, FIELD10
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BIZ_BORR_SUB_INFO
    where APP_NO = #{appNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BIZ_BORR_SUB_INFO
    where APP_NO = #{appNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.BIZ_BORR_SUB_INFO">
    insert into BIZ_BORR_SUB_INFO (APP_NO, CUST_ID, TP_OBJ_ID, 
      CUST_NAME, CERT_TYPE, CERT_CODE, 
      LOAN_BAL, TOTAL_LOAN_BAL, CUST_TYPE_E, 
      PHONE, INPUT_DATE, INPUT_TIME, 
      LAST_UPDATE_DATE, LAST_UPDATE_TIME, FIELD1, 
      FIELD2, FIELD3, FIELD4, 
      FIELD5, FIELD6, FIELD7, 
      FIELD8, FIELD9, FIELD10
      )
    values (#{appNo,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, #{tpObjId,jdbcType=VARCHAR}, 
      #{custName,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, #{certCode,jdbcType=VARCHAR}, 
      #{loanBal,jdbcType=DECIMAL}, #{totalLoanBal,jdbcType=DECIMAL}, #{custTypeE,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, 
      #{lastUpdateDate,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR}, #{field1,jdbcType=VARCHAR}, 
      #{field2,jdbcType=VARCHAR}, #{field3,jdbcType=VARCHAR}, #{field4,jdbcType=VARCHAR}, 
      #{field5,jdbcType=VARCHAR}, #{field6,jdbcType=VARCHAR}, #{field7,jdbcType=DECIMAL}, 
      #{field8,jdbcType=DECIMAL}, #{field9,jdbcType=DECIMAL}, #{field10,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BIZ_BORR_SUB_INFO">
    insert into BIZ_BORR_SUB_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        APP_NO,
      </if>
      <if test="custId != null">
        CUST_ID,
      </if>
      <if test="tpObjId != null">
        TP_OBJ_ID,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="certType != null">
        CERT_TYPE,
      </if>
      <if test="certCode != null">
        CERT_CODE,
      </if>
      <if test="loanBal != null">
        LOAN_BAL,
      </if>
      <if test="totalLoanBal != null">
        TOTAL_LOAN_BAL,
      </if>
      <if test="custTypeE != null">
        CUST_TYPE_E,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="field1 != null">
        FIELD1,
      </if>
      <if test="field2 != null">
        FIELD2,
      </if>
      <if test="field3 != null">
        FIELD3,
      </if>
      <if test="field4 != null">
        FIELD4,
      </if>
      <if test="field5 != null">
        FIELD5,
      </if>
      <if test="field6 != null">
        FIELD6,
      </if>
      <if test="field7 != null">
        FIELD7,
      </if>
      <if test="field8 != null">
        FIELD8,
      </if>
      <if test="field9 != null">
        FIELD9,
      </if>
      <if test="field10 != null">
        FIELD10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="tpObjId != null">
        #{tpObjId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="loanBal != null">
        #{loanBal,jdbcType=DECIMAL},
      </if>
      <if test="totalLoanBal != null">
        #{totalLoanBal,jdbcType=DECIMAL},
      </if>
      <if test="custTypeE != null">
        #{custTypeE,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null">
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        #{field3,jdbcType=VARCHAR},
      </if>
      <if test="field4 != null">
        #{field4,jdbcType=VARCHAR},
      </if>
      <if test="field5 != null">
        #{field5,jdbcType=VARCHAR},
      </if>
      <if test="field6 != null">
        #{field6,jdbcType=VARCHAR},
      </if>
      <if test="field7 != null">
        #{field7,jdbcType=DECIMAL},
      </if>
      <if test="field8 != null">
        #{field8,jdbcType=DECIMAL},
      </if>
      <if test="field9 != null">
        #{field9,jdbcType=DECIMAL},
      </if>
      <if test="field10 != null">
        #{field10,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.BIZ_BORR_SUB_INFO">
    update BIZ_BORR_SUB_INFO
    <set>
      <if test="custId != null">
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="tpObjId != null">
        TP_OBJ_ID = #{tpObjId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        CERT_TYPE = #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        CERT_CODE = #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="loanBal != null">
        LOAN_BAL = #{loanBal,jdbcType=DECIMAL},
      </if>
      <if test="totalLoanBal != null">
        TOTAL_LOAN_BAL = #{totalLoanBal,jdbcType=DECIMAL},
      </if>
      <if test="custTypeE != null">
        CUST_TYPE_E = #{custTypeE,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null">
        FIELD1 = #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        FIELD2 = #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        FIELD3 = #{field3,jdbcType=VARCHAR},
      </if>
      <if test="field4 != null">
        FIELD4 = #{field4,jdbcType=VARCHAR},
      </if>
      <if test="field5 != null">
        FIELD5 = #{field5,jdbcType=VARCHAR},
      </if>
      <if test="field6 != null">
        FIELD6 = #{field6,jdbcType=VARCHAR},
      </if>
      <if test="field7 != null">
        FIELD7 = #{field7,jdbcType=DECIMAL},
      </if>
      <if test="field8 != null">
        FIELD8 = #{field8,jdbcType=DECIMAL},
      </if>
      <if test="field9 != null">
        FIELD9 = #{field9,jdbcType=DECIMAL},
      </if>
      <if test="field10 != null">
        FIELD10 = #{field10,jdbcType=DECIMAL},
      </if>
    </set>
    where APP_NO = #{appNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.BIZ_BORR_SUB_INFO">
    update BIZ_BORR_SUB_INFO
    set CUST_ID = #{custId,jdbcType=VARCHAR},
      TP_OBJ_ID = #{tpObjId,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      CERT_TYPE = #{certType,jdbcType=VARCHAR},
      CERT_CODE = #{certCode,jdbcType=VARCHAR},
      LOAN_BAL = #{loanBal,jdbcType=DECIMAL},
      TOTAL_LOAN_BAL = #{totalLoanBal,jdbcType=DECIMAL},
      CUST_TYPE_E = #{custTypeE,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      FIELD1 = #{field1,jdbcType=VARCHAR},
      FIELD2 = #{field2,jdbcType=VARCHAR},
      FIELD3 = #{field3,jdbcType=VARCHAR},
      FIELD4 = #{field4,jdbcType=VARCHAR},
      FIELD5 = #{field5,jdbcType=VARCHAR},
      FIELD6 = #{field6,jdbcType=VARCHAR},
      FIELD7 = #{field7,jdbcType=DECIMAL},
      FIELD8 = #{field8,jdbcType=DECIMAL},
      FIELD9 = #{field9,jdbcType=DECIMAL},
      FIELD10 = #{field10,jdbcType=DECIMAL}
    where APP_NO = #{appNo,jdbcType=VARCHAR}
  </update>
</mapper>