<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BIZ_XW_SPECIAL_TRANMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BIZ_XW_SPECIAL_TRAN">
    <result column="LOAN_NO" jdbcType="VARCHAR" property="loanNo" />
    <result column="TD_DATE" jdbcType="VARCHAR" property="tdDate" />
    <result column="TD_TYPE" jdbcType="VARCHAR" property="tdType" />
    <result column="TD_AMT" jdbcType="DECIMAL" property="tdAmt" />
    <result column="UPDATE_TERM" jdbcType="DECIMAL" property="updateTerm" />
    <result column="DETAIL_MSG" jdbcType="VARCHAR" property="detailMsg" />
    <result column="REPAY_PLAN_UPDATE_SIGN" jdbcType="VARCHAR" property="repayPlanUpdateSign" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="DATA_DATE" jdbcType="VARCHAR" property="dataDate" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
    <result column="APPLY_NO" jdbcType="VARCHAR" property="applyNo" />
  </resultMap>
  <insert id="insert" parameterType="com.bea.olp.BIZ_XW_SPECIAL_TRAN">
    insert into BIZ_XW_SPECIAL_TRAN (LOAN_NO, TD_DATE, TD_TYPE, 
      TD_AMT, UPDATE_TERM, DETAIL_MSG, 
      REPAY_PLAN_UPDATE_SIGN, INPUT_DATE, INPUT_TIME, 
      DATA_DATE, LAST_UPDATE_DATE, LAST_UPDATE_TIME, 
      APPLY_NO)
    values (#{loanNo,jdbcType=VARCHAR}, #{tdDate,jdbcType=VARCHAR}, #{tdType,jdbcType=VARCHAR}, 
      #{tdAmt,jdbcType=DECIMAL}, #{updateTerm,jdbcType=DECIMAL}, #{detailMsg,jdbcType=VARCHAR}, 
      #{repayPlanUpdateSign,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, 
      #{dataDate,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR}, 
      #{applyNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BIZ_XW_SPECIAL_TRAN">
    insert into BIZ_XW_SPECIAL_TRAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loanNo != null">
        LOAN_NO,
      </if>
      <if test="tdDate != null">
        TD_DATE,
      </if>
      <if test="tdType != null">
        TD_TYPE,
      </if>
      <if test="tdAmt != null">
        TD_AMT,
      </if>
      <if test="updateTerm != null">
        UPDATE_TERM,
      </if>
      <if test="detailMsg != null">
        DETAIL_MSG,
      </if>
      <if test="repayPlanUpdateSign != null">
        REPAY_PLAN_UPDATE_SIGN,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="dataDate != null">
        DATA_DATE,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="applyNo != null">
        APPLY_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loanNo != null">
        #{loanNo,jdbcType=VARCHAR},
      </if>
      <if test="tdDate != null">
        #{tdDate,jdbcType=VARCHAR},
      </if>
      <if test="tdType != null">
        #{tdType,jdbcType=VARCHAR},
      </if>
      <if test="tdAmt != null">
        #{tdAmt,jdbcType=DECIMAL},
      </if>
      <if test="updateTerm != null">
        #{updateTerm,jdbcType=DECIMAL},
      </if>
      <if test="detailMsg != null">
        #{detailMsg,jdbcType=VARCHAR},
      </if>
      <if test="repayPlanUpdateSign != null">
        #{repayPlanUpdateSign,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="dataDate != null">
        #{dataDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="applyNo != null">
        #{applyNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>