<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BIZ_TD_RISK_RULES_INFOMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BIZ_TD_RISK_RULES_INFO">
    <id column="APP_NO" jdbcType="VARCHAR" property="appNo" />
    <id column="RULE_ID" jdbcType="VARCHAR" property="ruleId" />
    <id column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="SUSPECT_TEAM_DETAIL_LIST" jdbcType="VARCHAR" property="suspectTeamDetailList" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    APP_NO, RULE_ID, TYPE, SUSPECT_TEAM_DETAIL_LIST, INPUT_DATE, INPUT_TIME, LAST_UPDATE_DATE, 
    LAST_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.bea.olp.BIZ_TD_RISK_RULES_INFOKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BIZ_TD_RISK_RULES_INFO
    where APP_NO = #{appNo,jdbcType=VARCHAR}
      and RULE_ID = #{ruleId,jdbcType=VARCHAR}
      and TYPE = #{type,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.bea.olp.BIZ_TD_RISK_RULES_INFOKey">
    delete from BIZ_TD_RISK_RULES_INFO
    where APP_NO = #{appNo,jdbcType=VARCHAR}
      and RULE_ID = #{ruleId,jdbcType=VARCHAR}
      and TYPE = #{type,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.BIZ_TD_RISK_RULES_INFO">
    insert into BIZ_TD_RISK_RULES_INFO (APP_NO, RULE_ID, TYPE, 
      SUSPECT_TEAM_DETAIL_LIST, INPUT_DATE, INPUT_TIME, 
      LAST_UPDATE_DATE, LAST_UPDATE_TIME)
    values (#{appNo,jdbcType=VARCHAR}, #{ruleId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{suspectTeamDetailList,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, 
      #{lastUpdateDate,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BIZ_TD_RISK_RULES_INFO">
    insert into BIZ_TD_RISK_RULES_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        APP_NO,
      </if>
      <if test="ruleId != null">
        RULE_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="suspectTeamDetailList != null">
        SUSPECT_TEAM_DETAIL_LIST,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="suspectTeamDetailList != null">
        #{suspectTeamDetailList,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.BIZ_TD_RISK_RULES_INFO">
    update BIZ_TD_RISK_RULES_INFO
    <set>
      <if test="suspectTeamDetailList != null">
        SUSPECT_TEAM_DETAIL_LIST = #{suspectTeamDetailList,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where APP_NO = #{appNo,jdbcType=VARCHAR}
      and RULE_ID = #{ruleId,jdbcType=VARCHAR}
      and TYPE = #{type,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.BIZ_TD_RISK_RULES_INFO">
    update BIZ_TD_RISK_RULES_INFO
    set SUSPECT_TEAM_DETAIL_LIST = #{suspectTeamDetailList,jdbcType=VARCHAR},
      INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR}
    where APP_NO = #{appNo,jdbcType=VARCHAR}
      and RULE_ID = #{ruleId,jdbcType=VARCHAR}
      and TYPE = #{type,jdbcType=VARCHAR}
  </update>
</mapper>