<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BIZ_PY_EN_ADDRMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BIZ_PY_EN_ADDR">
    <result column="AREACODE" jdbcType="VARCHAR" property="areacode" />
    <result column="AREADESC" jdbcType="VARCHAR" property="areadesc" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="POSTCODE" jdbcType="VARCHAR" property="postcode" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
    <result column="PK_NUM" jdbcType="VARCHAR" property="pkNum" />
    <result column="APP_NO" jdbcType="VARCHAR" property="appNo" />
  </resultMap>
  <insert id="insert" parameterType="com.bea.olp.BIZ_PY_EN_ADDR">
    insert into BIZ_PY_EN_ADDR (AREACODE, AREADESC, ADDRESS, 
      TEL, POSTCODE, INPUT_DATE, 
      INPUT_TIME, LAST_UPDATE_DATE, LAST_UPDATE_TIME, 
      PK_NUM, APP_NO)
    values (#{areacode,jdbcType=VARCHAR}, #{areadesc,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, 
      #{inputTime,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR}, 
      #{pkNum,jdbcType=VARCHAR}, #{appNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BIZ_PY_EN_ADDR">
    insert into BIZ_PY_EN_ADDR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areacode != null">
        AREACODE,
      </if>
      <if test="areadesc != null">
        AREADESC,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="postcode != null">
        POSTCODE,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="pkNum != null">
        PK_NUM,
      </if>
      <if test="appNo != null">
        APP_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="areadesc != null">
        #{areadesc,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="pkNum != null">
        #{pkNum,jdbcType=VARCHAR},
      </if>
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>