<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.BIZ_TD_FUZZY_BLACK_LIST_DETAILMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.BIZ_TD_FUZZY_BLACK_LIST_DETAIL">
    <result column="APP_NO" jdbcType="VARCHAR" property="appNo" />
    <result column="RULE_ID" jdbcType="VARCHAR" property="ruleId" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="FRAUD_TYPE_DISPLAY_NAME" jdbcType="VARCHAR" property="fraudTypeDisplayName" />
    <result column="FUZZY_ID_NUMBER" jdbcType="VARCHAR" property="fuzzyIdNumber" />
    <result column="FUZZY_NAME" jdbcType="VARCHAR" property="fuzzyName" />
    <result column="FRAUD_TYPE" jdbcType="VARCHAR" property="fraudType" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.bea.olp.BIZ_TD_FUZZY_BLACK_LIST_DETAIL">
    insert into BIZ_TD_FUZZY_BLACK_LIST_DETAIL (APP_NO, RULE_ID, TYPE, 
      FRAUD_TYPE_DISPLAY_NAME, FUZZY_ID_NUMBER, FUZZY_NAME, 
      FRAUD_TYPE, INPUT_DATE, INPUT_TIME, 
      LAST_UPDATE_DATE, LAST_UPDATE_TIME)
    values (#{appNo,jdbcType=VARCHAR}, #{ruleId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{fraudTypeDisplayName,jdbcType=VARCHAR}, #{fuzzyIdNumber,jdbcType=VARCHAR}, #{fuzzyName,jdbcType=VARCHAR}, 
      #{fraudType,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, 
      #{lastUpdateDate,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.BIZ_TD_FUZZY_BLACK_LIST_DETAIL">
    insert into BIZ_TD_FUZZY_BLACK_LIST_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        APP_NO,
      </if>
      <if test="ruleId != null">
        RULE_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="fraudTypeDisplayName != null">
        FRAUD_TYPE_DISPLAY_NAME,
      </if>
      <if test="fuzzyIdNumber != null">
        FUZZY_ID_NUMBER,
      </if>
      <if test="fuzzyName != null">
        FUZZY_NAME,
      </if>
      <if test="fraudType != null">
        FRAUD_TYPE,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="fraudTypeDisplayName != null">
        #{fraudTypeDisplayName,jdbcType=VARCHAR},
      </if>
      <if test="fuzzyIdNumber != null">
        #{fuzzyIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="fuzzyName != null">
        #{fuzzyName,jdbcType=VARCHAR},
      </if>
      <if test="fraudType != null">
        #{fraudType,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>