<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.CTR_LOAN_LOGMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.CTR_LOAN_LOG">
    <id column="LOG_SERNO" jdbcType="VARCHAR" property="logSerno" />
    <result column="BILL_NO" jdbcType="VARCHAR" property="billNo" />
    <result column="SEQ" jdbcType="DECIMAL" property="seq" />
    <result column="LOG_INFO" jdbcType="VARCHAR" property="logInfo" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
  </resultMap>
  <sql id="Base_Column_List">
    LOG_SERNO, BILL_NO, SEQ, LOG_INFO, INPUT_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CTR_LOAN_LOG
    where LOG_SERNO = #{logSerno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CTR_LOAN_LOG
    where LOG_SERNO = #{logSerno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.CTR_LOAN_LOG">
    insert into CTR_LOAN_LOG (LOG_SERNO, BILL_NO, SEQ, 
      LOG_INFO, INPUT_TIME)
    values (#{logSerno,jdbcType=VARCHAR}, #{billNo,jdbcType=VARCHAR}, #{seq,jdbcType=DECIMAL}, 
      #{logInfo,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.CTR_LOAN_LOG">
    insert into CTR_LOAN_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logSerno != null">
        LOG_SERNO,
      </if>
      <if test="billNo != null">
        BILL_NO,
      </if>
      <if test="seq != null">
        SEQ,
      </if>
      <if test="logInfo != null">
        LOG_INFO,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logSerno != null">
        #{logSerno,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null">
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=DECIMAL},
      </if>
      <if test="logInfo != null">
        #{logInfo,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.CTR_LOAN_LOG">
    update CTR_LOAN_LOG
    <set>
      <if test="billNo != null">
        BILL_NO = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        SEQ = #{seq,jdbcType=DECIMAL},
      </if>
      <if test="logInfo != null">
        LOG_INFO = #{logInfo,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
    </set>
    where LOG_SERNO = #{logSerno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.CTR_LOAN_LOG">
    update CTR_LOAN_LOG
    set BILL_NO = #{billNo,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=DECIMAL},
      LOG_INFO = #{logInfo,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR}
    where LOG_SERNO = #{logSerno,jdbcType=VARCHAR}
  </update>
</mapper>