<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.CUS_INFOMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.CUS_INFO">
    <id column="CUST_ID" jdbcType="VARCHAR" property="custId" />
    <result column="CUST_ID_CORE" jdbcType="VARCHAR" property="custIdCore" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="CUST_TYPE" jdbcType="CHAR" property="custType" />
    <result column="CERT_ORG" jdbcType="VARCHAR" property="certOrg" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_CODE" jdbcType="VARCHAR" property="certCode" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday" />
    <result column="ID_DUE_DATE" jdbcType="VARCHAR" property="idDueDate" />
    <result column="IFEDUC" jdbcType="CHAR" property="ifeduc" />
    <result column="IFWEDD" jdbcType="CHAR" property="ifwedd" />
    <result column="SIADDR" jdbcType="VARCHAR" property="siaddr" />
    <result column="SITELP" jdbcType="VARCHAR" property="sitelp" />
    <result column="IFMOBL" jdbcType="VARCHAR" property="ifmobl" />
    <result column="LIVE_STATUS" jdbcType="CHAR" property="liveStatus" />
    <result column="SIZPCD" jdbcType="CHAR" property="sizpcd" />
    <result column="ADDR" jdbcType="VARCHAR" property="addr" />
    <result column="ZPCD" jdbcType="CHAR" property="zpcd" />
    <result column="IFMAIL" jdbcType="VARCHAR" property="ifmail" />
    <result column="RELATED_PERSON_NAME" jdbcType="VARCHAR" property="relatedPersonName" />
    <result column="RELATED_PERSON_ID_NO" jdbcType="VARCHAR" property="relatedPersonIdNo" />
    <result column="RELATED_PERSON_REL" jdbcType="VARCHAR" property="relatedPersonRel" />
    <result column="RELATED_PERSON_TELP" jdbcType="VARCHAR" property="relatedPersonTelp" />
    <result column="SPOUSE_NAME" jdbcType="VARCHAR" property="spouseName" />
    <result column="SPOUSE_CODE" jdbcType="VARCHAR" property="spouseCode" />
    <result column="SPOUSE_TYPE" jdbcType="CHAR" property="spouseType" />
    <result column="SPDB_PACC_FLAG" jdbcType="CHAR" property="spdbPaccFlag" />
    <result column="RESET_FLAG" jdbcType="CHAR" property="resetFlag" />
    <result column="BIZ_ORG_ID" jdbcType="VARCHAR" property="bizOrgId" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
    <result column="SPOUSE_PHONE" jdbcType="VARCHAR" property="spousePhone" />
    <result column="PRD_CODE_INFO" jdbcType="VARCHAR" property="prdCodeInfo" />
    <result column="EN_SUR_NAME" jdbcType="VARCHAR" property="enSurName" />
    <result column="EN_GIVEN_NAME" jdbcType="VARCHAR" property="enGivenName" />
    <result column="CUS_ENAME" jdbcType="VARCHAR" property="cusEname" />
    <result column="ECIF_CUST_ID" jdbcType="VARCHAR" property="ecifCustId" />
    <result column="AREA_CODE" jdbcType="VARCHAR" property="areaCode" />
    <result column="IS_ALREADY_LOAN" jdbcType="VARCHAR" property="isAlreadyLoan" />
    <result column="BLACK_LIST" jdbcType="VARCHAR" property="blackList" />
  </resultMap>
  <sql id="Base_Column_List">
    CUST_ID, CUST_ID_CORE, CUST_NAME, CUST_TYPE, CERT_ORG, CERT_TYPE, CERT_CODE, SEX, 
    BIRTHDAY, ID_DUE_DATE, IFEDUC, IFWEDD, SIADDR, SITELP, IFMOBL, LIVE_STATUS, SIZPCD, 
    ADDR, ZPCD, IFMAIL, RELATED_PERSON_NAME, RELATED_PERSON_ID_NO, RELATED_PERSON_REL, 
    RELATED_PERSON_TELP, SPOUSE_NAME, SPOUSE_CODE, SPOUSE_TYPE, SPDB_PACC_FLAG, RESET_FLAG, 
    BIZ_ORG_ID, INPUT_TIME, LAST_UPDATE_TIME, SPOUSE_PHONE, PRD_CODE_INFO, EN_SUR_NAME, 
    EN_GIVEN_NAME, CUS_ENAME, ECIF_CUST_ID, AREA_CODE, IS_ALREADY_LOAN, BLACK_LIST
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CUS_INFO
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CUS_INFO
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.CUS_INFO">
    insert into CUS_INFO (CUST_ID, CUST_ID_CORE, CUST_NAME, 
      CUST_TYPE, CERT_ORG, CERT_TYPE, 
      CERT_CODE, SEX, BIRTHDAY, 
      ID_DUE_DATE, IFEDUC, IFWEDD, 
      SIADDR, SITELP, IFMOBL, 
      LIVE_STATUS, SIZPCD, ADDR, 
      ZPCD, IFMAIL, RELATED_PERSON_NAME, 
      RELATED_PERSON_ID_NO, RELATED_PERSON_REL, RELATED_PERSON_TELP, 
      SPOUSE_NAME, SPOUSE_CODE, SPOUSE_TYPE, 
      SPDB_PACC_FLAG, RESET_FLAG, BIZ_ORG_ID, 
      INPUT_TIME, LAST_UPDATE_TIME, SPOUSE_PHONE, 
      PRD_CODE_INFO, EN_SUR_NAME, EN_GIVEN_NAME, 
      CUS_ENAME, ECIF_CUST_ID, AREA_CODE, 
      IS_ALREADY_LOAN, BLACK_LIST)
    values (#{custId,jdbcType=VARCHAR}, #{custIdCore,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, 
      #{custType,jdbcType=CHAR}, #{certOrg,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, 
      #{certCode,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{idDueDate,jdbcType=VARCHAR}, #{ifeduc,jdbcType=CHAR}, #{ifwedd,jdbcType=CHAR}, 
      #{siaddr,jdbcType=VARCHAR}, #{sitelp,jdbcType=VARCHAR}, #{ifmobl,jdbcType=VARCHAR}, 
      #{liveStatus,jdbcType=CHAR}, #{sizpcd,jdbcType=CHAR}, #{addr,jdbcType=VARCHAR}, 
      #{zpcd,jdbcType=CHAR}, #{ifmail,jdbcType=VARCHAR}, #{relatedPersonName,jdbcType=VARCHAR}, 
      #{relatedPersonIdNo,jdbcType=VARCHAR}, #{relatedPersonRel,jdbcType=VARCHAR}, #{relatedPersonTelp,jdbcType=VARCHAR}, 
      #{spouseName,jdbcType=VARCHAR}, #{spouseCode,jdbcType=VARCHAR}, #{spouseType,jdbcType=CHAR}, 
      #{spdbPaccFlag,jdbcType=CHAR}, #{resetFlag,jdbcType=CHAR}, #{bizOrgId,jdbcType=VARCHAR}, 
      #{inputTime,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR}, #{spousePhone,jdbcType=VARCHAR}, 
      #{prdCodeInfo,jdbcType=VARCHAR}, #{enSurName,jdbcType=VARCHAR}, #{enGivenName,jdbcType=VARCHAR}, 
      #{cusEname,jdbcType=VARCHAR}, #{ecifCustId,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{isAlreadyLoan,jdbcType=VARCHAR}, #{blackList,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.CUS_INFO">
    insert into CUS_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        CUST_ID,
      </if>
      <if test="custIdCore != null">
        CUST_ID_CORE,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="custType != null">
        CUST_TYPE,
      </if>
      <if test="certOrg != null">
        CERT_ORG,
      </if>
      <if test="certType != null">
        CERT_TYPE,
      </if>
      <if test="certCode != null">
        CERT_CODE,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="idDueDate != null">
        ID_DUE_DATE,
      </if>
      <if test="ifeduc != null">
        IFEDUC,
      </if>
      <if test="ifwedd != null">
        IFWEDD,
      </if>
      <if test="siaddr != null">
        SIADDR,
      </if>
      <if test="sitelp != null">
        SITELP,
      </if>
      <if test="ifmobl != null">
        IFMOBL,
      </if>
      <if test="liveStatus != null">
        LIVE_STATUS,
      </if>
      <if test="sizpcd != null">
        SIZPCD,
      </if>
      <if test="addr != null">
        ADDR,
      </if>
      <if test="zpcd != null">
        ZPCD,
      </if>
      <if test="ifmail != null">
        IFMAIL,
      </if>
      <if test="relatedPersonName != null">
        RELATED_PERSON_NAME,
      </if>
      <if test="relatedPersonIdNo != null">
        RELATED_PERSON_ID_NO,
      </if>
      <if test="relatedPersonRel != null">
        RELATED_PERSON_REL,
      </if>
      <if test="relatedPersonTelp != null">
        RELATED_PERSON_TELP,
      </if>
      <if test="spouseName != null">
        SPOUSE_NAME,
      </if>
      <if test="spouseCode != null">
        SPOUSE_CODE,
      </if>
      <if test="spouseType != null">
        SPOUSE_TYPE,
      </if>
      <if test="spdbPaccFlag != null">
        SPDB_PACC_FLAG,
      </if>
      <if test="resetFlag != null">
        RESET_FLAG,
      </if>
      <if test="bizOrgId != null">
        BIZ_ORG_ID,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="spousePhone != null">
        SPOUSE_PHONE,
      </if>
      <if test="prdCodeInfo != null">
        PRD_CODE_INFO,
      </if>
      <if test="enSurName != null">
        EN_SUR_NAME,
      </if>
      <if test="enGivenName != null">
        EN_GIVEN_NAME,
      </if>
      <if test="cusEname != null">
        CUS_ENAME,
      </if>
      <if test="ecifCustId != null">
        ECIF_CUST_ID,
      </if>
      <if test="areaCode != null">
        AREA_CODE,
      </if>
      <if test="isAlreadyLoan != null">
        IS_ALREADY_LOAN,
      </if>
      <if test="blackList != null">
        BLACK_LIST,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custIdCore != null">
        #{custIdCore,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custType != null">
        #{custType,jdbcType=CHAR},
      </if>
      <if test="certOrg != null">
        #{certOrg,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="idDueDate != null">
        #{idDueDate,jdbcType=VARCHAR},
      </if>
      <if test="ifeduc != null">
        #{ifeduc,jdbcType=CHAR},
      </if>
      <if test="ifwedd != null">
        #{ifwedd,jdbcType=CHAR},
      </if>
      <if test="siaddr != null">
        #{siaddr,jdbcType=VARCHAR},
      </if>
      <if test="sitelp != null">
        #{sitelp,jdbcType=VARCHAR},
      </if>
      <if test="ifmobl != null">
        #{ifmobl,jdbcType=VARCHAR},
      </if>
      <if test="liveStatus != null">
        #{liveStatus,jdbcType=CHAR},
      </if>
      <if test="sizpcd != null">
        #{sizpcd,jdbcType=CHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="zpcd != null">
        #{zpcd,jdbcType=CHAR},
      </if>
      <if test="ifmail != null">
        #{ifmail,jdbcType=VARCHAR},
      </if>
      <if test="relatedPersonName != null">
        #{relatedPersonName,jdbcType=VARCHAR},
      </if>
      <if test="relatedPersonIdNo != null">
        #{relatedPersonIdNo,jdbcType=VARCHAR},
      </if>
      <if test="relatedPersonRel != null">
        #{relatedPersonRel,jdbcType=VARCHAR},
      </if>
      <if test="relatedPersonTelp != null">
        #{relatedPersonTelp,jdbcType=VARCHAR},
      </if>
      <if test="spouseName != null">
        #{spouseName,jdbcType=VARCHAR},
      </if>
      <if test="spouseCode != null">
        #{spouseCode,jdbcType=VARCHAR},
      </if>
      <if test="spouseType != null">
        #{spouseType,jdbcType=CHAR},
      </if>
      <if test="spdbPaccFlag != null">
        #{spdbPaccFlag,jdbcType=CHAR},
      </if>
      <if test="resetFlag != null">
        #{resetFlag,jdbcType=CHAR},
      </if>
      <if test="bizOrgId != null">
        #{bizOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="spousePhone != null">
        #{spousePhone,jdbcType=VARCHAR},
      </if>
      <if test="prdCodeInfo != null">
        #{prdCodeInfo,jdbcType=VARCHAR},
      </if>
      <if test="enSurName != null">
        #{enSurName,jdbcType=VARCHAR},
      </if>
      <if test="enGivenName != null">
        #{enGivenName,jdbcType=VARCHAR},
      </if>
      <if test="cusEname != null">
        #{cusEname,jdbcType=VARCHAR},
      </if>
      <if test="ecifCustId != null">
        #{ecifCustId,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="isAlreadyLoan != null">
        #{isAlreadyLoan,jdbcType=VARCHAR},
      </if>
      <if test="blackList != null">
        #{blackList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.CUS_INFO">
    update CUS_INFO
    <set>
      <if test="custIdCore != null">
        CUST_ID_CORE = #{custIdCore,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custType != null">
        CUST_TYPE = #{custType,jdbcType=CHAR},
      </if>
      <if test="certOrg != null">
        CERT_ORG = #{certOrg,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        CERT_TYPE = #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        CERT_CODE = #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="idDueDate != null">
        ID_DUE_DATE = #{idDueDate,jdbcType=VARCHAR},
      </if>
      <if test="ifeduc != null">
        IFEDUC = #{ifeduc,jdbcType=CHAR},
      </if>
      <if test="ifwedd != null">
        IFWEDD = #{ifwedd,jdbcType=CHAR},
      </if>
      <if test="siaddr != null">
        SIADDR = #{siaddr,jdbcType=VARCHAR},
      </if>
      <if test="sitelp != null">
        SITELP = #{sitelp,jdbcType=VARCHAR},
      </if>
      <if test="ifmobl != null">
        IFMOBL = #{ifmobl,jdbcType=VARCHAR},
      </if>
      <if test="liveStatus != null">
        LIVE_STATUS = #{liveStatus,jdbcType=CHAR},
      </if>
      <if test="sizpcd != null">
        SIZPCD = #{sizpcd,jdbcType=CHAR},
      </if>
      <if test="addr != null">
        ADDR = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="zpcd != null">
        ZPCD = #{zpcd,jdbcType=CHAR},
      </if>
      <if test="ifmail != null">
        IFMAIL = #{ifmail,jdbcType=VARCHAR},
      </if>
      <if test="relatedPersonName != null">
        RELATED_PERSON_NAME = #{relatedPersonName,jdbcType=VARCHAR},
      </if>
      <if test="relatedPersonIdNo != null">
        RELATED_PERSON_ID_NO = #{relatedPersonIdNo,jdbcType=VARCHAR},
      </if>
      <if test="relatedPersonRel != null">
        RELATED_PERSON_REL = #{relatedPersonRel,jdbcType=VARCHAR},
      </if>
      <if test="relatedPersonTelp != null">
        RELATED_PERSON_TELP = #{relatedPersonTelp,jdbcType=VARCHAR},
      </if>
      <if test="spouseName != null">
        SPOUSE_NAME = #{spouseName,jdbcType=VARCHAR},
      </if>
      <if test="spouseCode != null">
        SPOUSE_CODE = #{spouseCode,jdbcType=VARCHAR},
      </if>
      <if test="spouseType != null">
        SPOUSE_TYPE = #{spouseType,jdbcType=CHAR},
      </if>
      <if test="spdbPaccFlag != null">
        SPDB_PACC_FLAG = #{spdbPaccFlag,jdbcType=CHAR},
      </if>
      <if test="resetFlag != null">
        RESET_FLAG = #{resetFlag,jdbcType=CHAR},
      </if>
      <if test="bizOrgId != null">
        BIZ_ORG_ID = #{bizOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="spousePhone != null">
        SPOUSE_PHONE = #{spousePhone,jdbcType=VARCHAR},
      </if>
      <if test="prdCodeInfo != null">
        PRD_CODE_INFO = #{prdCodeInfo,jdbcType=VARCHAR},
      </if>
      <if test="enSurName != null">
        EN_SUR_NAME = #{enSurName,jdbcType=VARCHAR},
      </if>
      <if test="enGivenName != null">
        EN_GIVEN_NAME = #{enGivenName,jdbcType=VARCHAR},
      </if>
      <if test="cusEname != null">
        CUS_ENAME = #{cusEname,jdbcType=VARCHAR},
      </if>
      <if test="ecifCustId != null">
        ECIF_CUST_ID = #{ecifCustId,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="isAlreadyLoan != null">
        IS_ALREADY_LOAN = #{isAlreadyLoan,jdbcType=VARCHAR},
      </if>
      <if test="blackList != null">
        BLACK_LIST = #{blackList,jdbcType=VARCHAR},
      </if>
    </set>
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.CUS_INFO">
    update CUS_INFO
    set CUST_ID_CORE = #{custIdCore,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      CUST_TYPE = #{custType,jdbcType=CHAR},
      CERT_ORG = #{certOrg,jdbcType=VARCHAR},
      CERT_TYPE = #{certType,jdbcType=VARCHAR},
      CERT_CODE = #{certCode,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      ID_DUE_DATE = #{idDueDate,jdbcType=VARCHAR},
      IFEDUC = #{ifeduc,jdbcType=CHAR},
      IFWEDD = #{ifwedd,jdbcType=CHAR},
      SIADDR = #{siaddr,jdbcType=VARCHAR},
      SITELP = #{sitelp,jdbcType=VARCHAR},
      IFMOBL = #{ifmobl,jdbcType=VARCHAR},
      LIVE_STATUS = #{liveStatus,jdbcType=CHAR},
      SIZPCD = #{sizpcd,jdbcType=CHAR},
      ADDR = #{addr,jdbcType=VARCHAR},
      ZPCD = #{zpcd,jdbcType=CHAR},
      IFMAIL = #{ifmail,jdbcType=VARCHAR},
      RELATED_PERSON_NAME = #{relatedPersonName,jdbcType=VARCHAR},
      RELATED_PERSON_ID_NO = #{relatedPersonIdNo,jdbcType=VARCHAR},
      RELATED_PERSON_REL = #{relatedPersonRel,jdbcType=VARCHAR},
      RELATED_PERSON_TELP = #{relatedPersonTelp,jdbcType=VARCHAR},
      SPOUSE_NAME = #{spouseName,jdbcType=VARCHAR},
      SPOUSE_CODE = #{spouseCode,jdbcType=VARCHAR},
      SPOUSE_TYPE = #{spouseType,jdbcType=CHAR},
      SPDB_PACC_FLAG = #{spdbPaccFlag,jdbcType=CHAR},
      RESET_FLAG = #{resetFlag,jdbcType=CHAR},
      BIZ_ORG_ID = #{bizOrgId,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      SPOUSE_PHONE = #{spousePhone,jdbcType=VARCHAR},
      PRD_CODE_INFO = #{prdCodeInfo,jdbcType=VARCHAR},
      EN_SUR_NAME = #{enSurName,jdbcType=VARCHAR},
      EN_GIVEN_NAME = #{enGivenName,jdbcType=VARCHAR},
      CUS_ENAME = #{cusEname,jdbcType=VARCHAR},
      ECIF_CUST_ID = #{ecifCustId,jdbcType=VARCHAR},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      IS_ALREADY_LOAN = #{isAlreadyLoan,jdbcType=VARCHAR},
      BLACK_LIST = #{blackList,jdbcType=VARCHAR}
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </update>
</mapper>