<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.PRT_WATCH_LISTMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.PRT_WATCH_LIST">
    <id column="SER_NO" jdbcType="VARCHAR" property="serNo" />
    <result column="APP_NO" jdbcType="VARCHAR" property="appNo" />
    <result column="CHANNEL_TYPE" jdbcType="VARCHAR" property="channelType" />
    <result column="CO_PLATFORM" jdbcType="VARCHAR" property="coPlatform" />
    <result column="LOAN_PROP" jdbcType="VARCHAR" property="loanProp" />
    <result column="PRD_TYPE" jdbcType="VARCHAR" property="prdType" />
    <result column="PRD_CODE" jdbcType="VARCHAR" property="prdCode" />
    <result column="TP_OBJ_ID" jdbcType="VARCHAR" property="tpObjId" />
    <result column="CUST_ID" jdbcType="VARCHAR" property="custId" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_CODE" jdbcType="VARCHAR" property="certCode" />
    <result column="WATCH_TYPE" jdbcType="VARCHAR" property="watchType" />
    <result column="WATCH_REASON" jdbcType="VARCHAR" property="watchReason" />
    <result column="WATCH_START_DATE" jdbcType="VARCHAR" property="watchStartDate" />
    <result column="WATCH_END_DATE" jdbcType="VARCHAR" property="watchEndDate" />
    <result column="LIST_STATUS" jdbcType="VARCHAR" property="listStatus" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="BIZ_OP_ID" jdbcType="VARCHAR" property="bizOpId" />
    <result column="BIZ_ORG_ID" jdbcType="VARCHAR" property="bizOrgId" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    SER_NO, APP_NO, CHANNEL_TYPE, CO_PLATFORM, LOAN_PROP, PRD_TYPE, PRD_CODE, TP_OBJ_ID, 
    CUST_ID, CUST_NAME, CERT_TYPE, CERT_CODE, WATCH_TYPE, WATCH_REASON, WATCH_START_DATE, 
    WATCH_END_DATE, LIST_STATUS, REMARKS, BIZ_OP_ID, BIZ_ORG_ID, INPUT_DATE, INPUT_TIME, 
    LAST_UPDATE_DATE, LAST_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PRT_WATCH_LIST
    where SER_NO = #{serNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PRT_WATCH_LIST
    where SER_NO = #{serNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.PRT_WATCH_LIST">
    insert into PRT_WATCH_LIST (SER_NO, APP_NO, CHANNEL_TYPE, 
      CO_PLATFORM, LOAN_PROP, PRD_TYPE, 
      PRD_CODE, TP_OBJ_ID, CUST_ID, 
      CUST_NAME, CERT_TYPE, CERT_CODE, 
      WATCH_TYPE, WATCH_REASON, WATCH_START_DATE, 
      WATCH_END_DATE, LIST_STATUS, REMARKS, 
      BIZ_OP_ID, BIZ_ORG_ID, INPUT_DATE, 
      INPUT_TIME, LAST_UPDATE_DATE, LAST_UPDATE_TIME
      )
    values (#{serNo,jdbcType=VARCHAR}, #{appNo,jdbcType=VARCHAR}, #{channelType,jdbcType=VARCHAR}, 
      #{coPlatform,jdbcType=VARCHAR}, #{loanProp,jdbcType=VARCHAR}, #{prdType,jdbcType=VARCHAR}, 
      #{prdCode,jdbcType=VARCHAR}, #{tpObjId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, 
      #{custName,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, #{certCode,jdbcType=VARCHAR}, 
      #{watchType,jdbcType=VARCHAR}, #{watchReason,jdbcType=VARCHAR}, #{watchStartDate,jdbcType=VARCHAR}, 
      #{watchEndDate,jdbcType=VARCHAR}, #{listStatus,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{bizOpId,jdbcType=VARCHAR}, #{bizOrgId,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, 
      #{inputTime,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.PRT_WATCH_LIST">
    insert into PRT_WATCH_LIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serNo != null">
        SER_NO,
      </if>
      <if test="appNo != null">
        APP_NO,
      </if>
      <if test="channelType != null">
        CHANNEL_TYPE,
      </if>
      <if test="coPlatform != null">
        CO_PLATFORM,
      </if>
      <if test="loanProp != null">
        LOAN_PROP,
      </if>
      <if test="prdType != null">
        PRD_TYPE,
      </if>
      <if test="prdCode != null">
        PRD_CODE,
      </if>
      <if test="tpObjId != null">
        TP_OBJ_ID,
      </if>
      <if test="custId != null">
        CUST_ID,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="certType != null">
        CERT_TYPE,
      </if>
      <if test="certCode != null">
        CERT_CODE,
      </if>
      <if test="watchType != null">
        WATCH_TYPE,
      </if>
      <if test="watchReason != null">
        WATCH_REASON,
      </if>
      <if test="watchStartDate != null">
        WATCH_START_DATE,
      </if>
      <if test="watchEndDate != null">
        WATCH_END_DATE,
      </if>
      <if test="listStatus != null">
        LIST_STATUS,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="bizOpId != null">
        BIZ_OP_ID,
      </if>
      <if test="bizOrgId != null">
        BIZ_ORG_ID,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serNo != null">
        #{serNo,jdbcType=VARCHAR},
      </if>
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null">
        #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="coPlatform != null">
        #{coPlatform,jdbcType=VARCHAR},
      </if>
      <if test="loanProp != null">
        #{loanProp,jdbcType=VARCHAR},
      </if>
      <if test="prdType != null">
        #{prdType,jdbcType=VARCHAR},
      </if>
      <if test="prdCode != null">
        #{prdCode,jdbcType=VARCHAR},
      </if>
      <if test="tpObjId != null">
        #{tpObjId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="watchType != null">
        #{watchType,jdbcType=VARCHAR},
      </if>
      <if test="watchReason != null">
        #{watchReason,jdbcType=VARCHAR},
      </if>
      <if test="watchStartDate != null">
        #{watchStartDate,jdbcType=VARCHAR},
      </if>
      <if test="watchEndDate != null">
        #{watchEndDate,jdbcType=VARCHAR},
      </if>
      <if test="listStatus != null">
        #{listStatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="bizOpId != null">
        #{bizOpId,jdbcType=VARCHAR},
      </if>
      <if test="bizOrgId != null">
        #{bizOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.PRT_WATCH_LIST">
    update PRT_WATCH_LIST
    <set>
      <if test="appNo != null">
        APP_NO = #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null">
        CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="coPlatform != null">
        CO_PLATFORM = #{coPlatform,jdbcType=VARCHAR},
      </if>
      <if test="loanProp != null">
        LOAN_PROP = #{loanProp,jdbcType=VARCHAR},
      </if>
      <if test="prdType != null">
        PRD_TYPE = #{prdType,jdbcType=VARCHAR},
      </if>
      <if test="prdCode != null">
        PRD_CODE = #{prdCode,jdbcType=VARCHAR},
      </if>
      <if test="tpObjId != null">
        TP_OBJ_ID = #{tpObjId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        CERT_TYPE = #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        CERT_CODE = #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="watchType != null">
        WATCH_TYPE = #{watchType,jdbcType=VARCHAR},
      </if>
      <if test="watchReason != null">
        WATCH_REASON = #{watchReason,jdbcType=VARCHAR},
      </if>
      <if test="watchStartDate != null">
        WATCH_START_DATE = #{watchStartDate,jdbcType=VARCHAR},
      </if>
      <if test="watchEndDate != null">
        WATCH_END_DATE = #{watchEndDate,jdbcType=VARCHAR},
      </if>
      <if test="listStatus != null">
        LIST_STATUS = #{listStatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="bizOpId != null">
        BIZ_OP_ID = #{bizOpId,jdbcType=VARCHAR},
      </if>
      <if test="bizOrgId != null">
        BIZ_ORG_ID = #{bizOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where SER_NO = #{serNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.PRT_WATCH_LIST">
    update PRT_WATCH_LIST
    set APP_NO = #{appNo,jdbcType=VARCHAR},
      CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      CO_PLATFORM = #{coPlatform,jdbcType=VARCHAR},
      LOAN_PROP = #{loanProp,jdbcType=VARCHAR},
      PRD_TYPE = #{prdType,jdbcType=VARCHAR},
      PRD_CODE = #{prdCode,jdbcType=VARCHAR},
      TP_OBJ_ID = #{tpObjId,jdbcType=VARCHAR},
      CUST_ID = #{custId,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      CERT_TYPE = #{certType,jdbcType=VARCHAR},
      CERT_CODE = #{certCode,jdbcType=VARCHAR},
      WATCH_TYPE = #{watchType,jdbcType=VARCHAR},
      WATCH_REASON = #{watchReason,jdbcType=VARCHAR},
      WATCH_START_DATE = #{watchStartDate,jdbcType=VARCHAR},
      WATCH_END_DATE = #{watchEndDate,jdbcType=VARCHAR},
      LIST_STATUS = #{listStatus,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      BIZ_OP_ID = #{bizOpId,jdbcType=VARCHAR},
      BIZ_ORG_ID = #{bizOrgId,jdbcType=VARCHAR},
      INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR}
    where SER_NO = #{serNo,jdbcType=VARCHAR}
  </update>
</mapper>