<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.PRT_RALATE_LISTMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.PRT_RALATE_LIST">
    <id column="SER_NO" jdbcType="VARCHAR" property="serNo" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_CODE" jdbcType="VARCHAR" property="certCode" />
    <result column="RELATE_TYPE" jdbcType="VARCHAR" property="relateType" />
    <result column="LIST_STATUS" jdbcType="VARCHAR" property="listStatus" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="BIZ_OP_ID" jdbcType="VARCHAR" property="bizOpId" />
    <result column="BIZ_ORG_ID" jdbcType="VARCHAR" property="bizOrgId" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
    <result column="LAST_UPDATE_DATE" jdbcType="VARCHAR" property="lastUpdateDate" />
    <result column="LAST_UPDATE_TIME" jdbcType="VARCHAR" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    SER_NO, CUST_NAME, CERT_TYPE, CERT_CODE, RELATE_TYPE, LIST_STATUS, REMARKS, BIZ_OP_ID, 
    BIZ_ORG_ID, INPUT_DATE, INPUT_TIME, LAST_UPDATE_DATE, LAST_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PRT_RALATE_LIST
    where SER_NO = #{serNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PRT_RALATE_LIST
    where SER_NO = #{serNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.PRT_RALATE_LIST">
    insert into PRT_RALATE_LIST (SER_NO, CUST_NAME, CERT_TYPE, 
      CERT_CODE, RELATE_TYPE, LIST_STATUS, 
      REMARKS, BIZ_OP_ID, BIZ_ORG_ID, 
      INPUT_DATE, INPUT_TIME, LAST_UPDATE_DATE, 
      LAST_UPDATE_TIME)
    values (#{serNo,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, 
      #{certCode,jdbcType=VARCHAR}, #{relateType,jdbcType=VARCHAR}, #{listStatus,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{bizOpId,jdbcType=VARCHAR}, #{bizOrgId,jdbcType=VARCHAR}, 
      #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.PRT_RALATE_LIST">
    insert into PRT_RALATE_LIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serNo != null">
        SER_NO,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="certType != null">
        CERT_TYPE,
      </if>
      <if test="certCode != null">
        CERT_CODE,
      </if>
      <if test="relateType != null">
        RELATE_TYPE,
      </if>
      <if test="listStatus != null">
        LIST_STATUS,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="bizOpId != null">
        BIZ_OP_ID,
      </if>
      <if test="bizOrgId != null">
        BIZ_ORG_ID,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serNo != null">
        #{serNo,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="relateType != null">
        #{relateType,jdbcType=VARCHAR},
      </if>
      <if test="listStatus != null">
        #{listStatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="bizOpId != null">
        #{bizOpId,jdbcType=VARCHAR},
      </if>
      <if test="bizOrgId != null">
        #{bizOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.PRT_RALATE_LIST">
    update PRT_RALATE_LIST
    <set>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        CERT_TYPE = #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        CERT_CODE = #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="relateType != null">
        RELATE_TYPE = #{relateType,jdbcType=VARCHAR},
      </if>
      <if test="listStatus != null">
        LIST_STATUS = #{listStatus,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="bizOpId != null">
        BIZ_OP_ID = #{bizOpId,jdbcType=VARCHAR},
      </if>
      <if test="bizOrgId != null">
        BIZ_ORG_ID = #{bizOrgId,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where SER_NO = #{serNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.PRT_RALATE_LIST">
    update PRT_RALATE_LIST
    set CUST_NAME = #{custName,jdbcType=VARCHAR},
      CERT_TYPE = #{certType,jdbcType=VARCHAR},
      CERT_CODE = #{certCode,jdbcType=VARCHAR},
      RELATE_TYPE = #{relateType,jdbcType=VARCHAR},
      LIST_STATUS = #{listStatus,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      BIZ_OP_ID = #{bizOpId,jdbcType=VARCHAR},
      BIZ_ORG_ID = #{bizOrgId,jdbcType=VARCHAR},
      INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=VARCHAR},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=VARCHAR}
    where SER_NO = #{serNo,jdbcType=VARCHAR}
  </update>
</mapper>