<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.RAT_FIRST_APP_INFOMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.RAT_FIRST_APP_INFO">
    <id column="TP_NO" jdbcType="VARCHAR" property="tpNo" />
    <result column="APPLY_NO" jdbcType="VARCHAR" property="applyNo" />
    <result column="FUNCTION_ID" jdbcType="VARCHAR" property="functionId" />
    <result column="REQ_TIME" jdbcType="VARCHAR" property="reqTime" />
    <result column="TRAN_DATE" jdbcType="VARCHAR" property="tranDate" />
    <result column="CHANNEL_TYPE" jdbcType="VARCHAR" property="channelType" />
    <result column="CO_PLATFORM" jdbcType="VARCHAR" property="coPlatform" />
    <result column="LOAN_PROP" jdbcType="VARCHAR" property="loanProp" />
    <result column="PRD_TYPE" jdbcType="VARCHAR" property="prdType" />
    <result column="PRD_CODE" jdbcType="VARCHAR" property="prdCode" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_CODE" jdbcType="VARCHAR" property="certCode" />
    <result column="CERT_VALID_DATE" jdbcType="VARCHAR" property="certValidDate" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="ZM_AUTH_FLAG" jdbcType="VARCHAR" property="zmAuthFlag" />
    <result column="HAS_JB_ADMIT" jdbcType="VARCHAR" property="hasJbAdmit" />
    <result column="FIELD1" jdbcType="VARCHAR" property="field1" />
    <result column="FIELD2" jdbcType="VARCHAR" property="field2" />
    <result column="FIELD3" jdbcType="VARCHAR" property="field3" />
    <result column="FIELD4" jdbcType="VARCHAR" property="field4" />
    <result column="FIELD5" jdbcType="VARCHAR" property="field5" />
    <result column="FIELD6" jdbcType="VARCHAR" property="field6" />
    <result column="FIELD7" jdbcType="DECIMAL" property="field7" />
    <result column="FIELD8" jdbcType="DECIMAL" property="field8" />
    <result column="FIELD9" jdbcType="DECIMAL" property="field9" />
    <result column="FIELD10" jdbcType="DECIMAL" property="field10" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
  </resultMap>
  <sql id="Base_Column_List">
    TP_NO, APPLY_NO, FUNCTION_ID, REQ_TIME, TRAN_DATE, CHANNEL_TYPE, CO_PLATFORM, LOAN_PROP, 
    PRD_TYPE, PRD_CODE, CERT_TYPE, CERT_CODE, CERT_VALID_DATE, CUST_NAME, PHONE, ZM_AUTH_FLAG, 
    HAS_JB_ADMIT, FIELD1, FIELD2, FIELD3, FIELD4, FIELD5, FIELD6, FIELD7, FIELD8, FIELD9, 
    FIELD10, INPUT_DATE, INPUT_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from RAT_FIRST_APP_INFO
    where TP_NO = #{tpNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from RAT_FIRST_APP_INFO
    where TP_NO = #{tpNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.RAT_FIRST_APP_INFO">
    insert into RAT_FIRST_APP_INFO (TP_NO, APPLY_NO, FUNCTION_ID, 
      REQ_TIME, TRAN_DATE, CHANNEL_TYPE, 
      CO_PLATFORM, LOAN_PROP, PRD_TYPE, 
      PRD_CODE, CERT_TYPE, CERT_CODE, 
      CERT_VALID_DATE, CUST_NAME, PHONE, 
      ZM_AUTH_FLAG, HAS_JB_ADMIT, FIELD1, 
      FIELD2, FIELD3, FIELD4, 
      FIELD5, FIELD6, FIELD7, 
      FIELD8, FIELD9, FIELD10, 
      INPUT_DATE, INPUT_TIME)
    values (#{tpNo,jdbcType=VARCHAR}, #{applyNo,jdbcType=VARCHAR}, #{functionId,jdbcType=VARCHAR}, 
      #{reqTime,jdbcType=VARCHAR}, #{tranDate,jdbcType=VARCHAR}, #{channelType,jdbcType=VARCHAR}, 
      #{coPlatform,jdbcType=VARCHAR}, #{loanProp,jdbcType=VARCHAR}, #{prdType,jdbcType=VARCHAR}, 
      #{prdCode,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, #{certCode,jdbcType=VARCHAR}, 
      #{certValidDate,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{zmAuthFlag,jdbcType=VARCHAR}, #{hasJbAdmit,jdbcType=VARCHAR}, #{field1,jdbcType=VARCHAR}, 
      #{field2,jdbcType=VARCHAR}, #{field3,jdbcType=VARCHAR}, #{field4,jdbcType=VARCHAR}, 
      #{field5,jdbcType=VARCHAR}, #{field6,jdbcType=VARCHAR}, #{field7,jdbcType=DECIMAL}, 
      #{field8,jdbcType=DECIMAL}, #{field9,jdbcType=DECIMAL}, #{field10,jdbcType=DECIMAL}, 
      #{inputDate,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.RAT_FIRST_APP_INFO">
    insert into RAT_FIRST_APP_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tpNo != null">
        TP_NO,
      </if>
      <if test="applyNo != null">
        APPLY_NO,
      </if>
      <if test="functionId != null">
        FUNCTION_ID,
      </if>
      <if test="reqTime != null">
        REQ_TIME,
      </if>
      <if test="tranDate != null">
        TRAN_DATE,
      </if>
      <if test="channelType != null">
        CHANNEL_TYPE,
      </if>
      <if test="coPlatform != null">
        CO_PLATFORM,
      </if>
      <if test="loanProp != null">
        LOAN_PROP,
      </if>
      <if test="prdType != null">
        PRD_TYPE,
      </if>
      <if test="prdCode != null">
        PRD_CODE,
      </if>
      <if test="certType != null">
        CERT_TYPE,
      </if>
      <if test="certCode != null">
        CERT_CODE,
      </if>
      <if test="certValidDate != null">
        CERT_VALID_DATE,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="zmAuthFlag != null">
        ZM_AUTH_FLAG,
      </if>
      <if test="hasJbAdmit != null">
        HAS_JB_ADMIT,
      </if>
      <if test="field1 != null">
        FIELD1,
      </if>
      <if test="field2 != null">
        FIELD2,
      </if>
      <if test="field3 != null">
        FIELD3,
      </if>
      <if test="field4 != null">
        FIELD4,
      </if>
      <if test="field5 != null">
        FIELD5,
      </if>
      <if test="field6 != null">
        FIELD6,
      </if>
      <if test="field7 != null">
        FIELD7,
      </if>
      <if test="field8 != null">
        FIELD8,
      </if>
      <if test="field9 != null">
        FIELD9,
      </if>
      <if test="field10 != null">
        FIELD10,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tpNo != null">
        #{tpNo,jdbcType=VARCHAR},
      </if>
      <if test="applyNo != null">
        #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="functionId != null">
        #{functionId,jdbcType=VARCHAR},
      </if>
      <if test="reqTime != null">
        #{reqTime,jdbcType=VARCHAR},
      </if>
      <if test="tranDate != null">
        #{tranDate,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null">
        #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="coPlatform != null">
        #{coPlatform,jdbcType=VARCHAR},
      </if>
      <if test="loanProp != null">
        #{loanProp,jdbcType=VARCHAR},
      </if>
      <if test="prdType != null">
        #{prdType,jdbcType=VARCHAR},
      </if>
      <if test="prdCode != null">
        #{prdCode,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="certValidDate != null">
        #{certValidDate,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="zmAuthFlag != null">
        #{zmAuthFlag,jdbcType=VARCHAR},
      </if>
      <if test="hasJbAdmit != null">
        #{hasJbAdmit,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null">
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        #{field3,jdbcType=VARCHAR},
      </if>
      <if test="field4 != null">
        #{field4,jdbcType=VARCHAR},
      </if>
      <if test="field5 != null">
        #{field5,jdbcType=VARCHAR},
      </if>
      <if test="field6 != null">
        #{field6,jdbcType=VARCHAR},
      </if>
      <if test="field7 != null">
        #{field7,jdbcType=DECIMAL},
      </if>
      <if test="field8 != null">
        #{field8,jdbcType=DECIMAL},
      </if>
      <if test="field9 != null">
        #{field9,jdbcType=DECIMAL},
      </if>
      <if test="field10 != null">
        #{field10,jdbcType=DECIMAL},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.RAT_FIRST_APP_INFO">
    update RAT_FIRST_APP_INFO
    <set>
      <if test="applyNo != null">
        APPLY_NO = #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="functionId != null">
        FUNCTION_ID = #{functionId,jdbcType=VARCHAR},
      </if>
      <if test="reqTime != null">
        REQ_TIME = #{reqTime,jdbcType=VARCHAR},
      </if>
      <if test="tranDate != null">
        TRAN_DATE = #{tranDate,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null">
        CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="coPlatform != null">
        CO_PLATFORM = #{coPlatform,jdbcType=VARCHAR},
      </if>
      <if test="loanProp != null">
        LOAN_PROP = #{loanProp,jdbcType=VARCHAR},
      </if>
      <if test="prdType != null">
        PRD_TYPE = #{prdType,jdbcType=VARCHAR},
      </if>
      <if test="prdCode != null">
        PRD_CODE = #{prdCode,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        CERT_TYPE = #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        CERT_CODE = #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="certValidDate != null">
        CERT_VALID_DATE = #{certValidDate,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="zmAuthFlag != null">
        ZM_AUTH_FLAG = #{zmAuthFlag,jdbcType=VARCHAR},
      </if>
      <if test="hasJbAdmit != null">
        HAS_JB_ADMIT = #{hasJbAdmit,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null">
        FIELD1 = #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        FIELD2 = #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        FIELD3 = #{field3,jdbcType=VARCHAR},
      </if>
      <if test="field4 != null">
        FIELD4 = #{field4,jdbcType=VARCHAR},
      </if>
      <if test="field5 != null">
        FIELD5 = #{field5,jdbcType=VARCHAR},
      </if>
      <if test="field6 != null">
        FIELD6 = #{field6,jdbcType=VARCHAR},
      </if>
      <if test="field7 != null">
        FIELD7 = #{field7,jdbcType=DECIMAL},
      </if>
      <if test="field8 != null">
        FIELD8 = #{field8,jdbcType=DECIMAL},
      </if>
      <if test="field9 != null">
        FIELD9 = #{field9,jdbcType=DECIMAL},
      </if>
      <if test="field10 != null">
        FIELD10 = #{field10,jdbcType=DECIMAL},
      </if>
      <if test="inputDate != null">
        INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        INPUT_TIME = #{inputTime,jdbcType=VARCHAR},
      </if>
    </set>
    where TP_NO = #{tpNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.RAT_FIRST_APP_INFO">
    update RAT_FIRST_APP_INFO
    set APPLY_NO = #{applyNo,jdbcType=VARCHAR},
      FUNCTION_ID = #{functionId,jdbcType=VARCHAR},
      REQ_TIME = #{reqTime,jdbcType=VARCHAR},
      TRAN_DATE = #{tranDate,jdbcType=VARCHAR},
      CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      CO_PLATFORM = #{coPlatform,jdbcType=VARCHAR},
      LOAN_PROP = #{loanProp,jdbcType=VARCHAR},
      PRD_TYPE = #{prdType,jdbcType=VARCHAR},
      PRD_CODE = #{prdCode,jdbcType=VARCHAR},
      CERT_TYPE = #{certType,jdbcType=VARCHAR},
      CERT_CODE = #{certCode,jdbcType=VARCHAR},
      CERT_VALID_DATE = #{certValidDate,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ZM_AUTH_FLAG = #{zmAuthFlag,jdbcType=VARCHAR},
      HAS_JB_ADMIT = #{hasJbAdmit,jdbcType=VARCHAR},
      FIELD1 = #{field1,jdbcType=VARCHAR},
      FIELD2 = #{field2,jdbcType=VARCHAR},
      FIELD3 = #{field3,jdbcType=VARCHAR},
      FIELD4 = #{field4,jdbcType=VARCHAR},
      FIELD5 = #{field5,jdbcType=VARCHAR},
      FIELD6 = #{field6,jdbcType=VARCHAR},
      FIELD7 = #{field7,jdbcType=DECIMAL},
      FIELD8 = #{field8,jdbcType=DECIMAL},
      FIELD9 = #{field9,jdbcType=DECIMAL},
      FIELD10 = #{field10,jdbcType=DECIMAL},
      INPUT_DATE = #{inputDate,jdbcType=VARCHAR},
      INPUT_TIME = #{inputTime,jdbcType=VARCHAR}
    where TP_NO = #{tpNo,jdbcType=VARCHAR}
  </update>
</mapper>