<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.SF_CONSTANTMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.SF_CONSTANT">
    <id column="CONSTANT_ID" jdbcType="VARCHAR" property="constantId" />
    <result column="CONSTANT_NAME" jdbcType="VARCHAR" property="constantName" />
    <result column="CONSTANT_TYPE" jdbcType="VARCHAR" property="constantType" />
    <result column="CONSTANT_VALUE" jdbcType="VARCHAR" property="constantValue" />
    <result column="CONSTANT_DESC" jdbcType="VARCHAR" property="constantDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    CONSTANT_ID, CONSTANT_NAME, CONSTANT_TYPE, CONSTANT_VALUE, CONSTANT_DESC
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SF_CONSTANT
    where CONSTANT_ID = #{constantId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SF_CONSTANT
    where CONSTANT_ID = #{constantId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bea.olp.SF_CONSTANT">
    insert into SF_CONSTANT (CONSTANT_ID, CONSTANT_NAME, CONSTANT_TYPE, 
      CONSTANT_VALUE, CONSTANT_DESC)
    values (#{constantId,jdbcType=VARCHAR}, #{constantName,jdbcType=VARCHAR}, #{constantType,jdbcType=VARCHAR}, 
      #{constantValue,jdbcType=VARCHAR}, #{constantDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.SF_CONSTANT">
    insert into SF_CONSTANT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="constantId != null">
        CONSTANT_ID,
      </if>
      <if test="constantName != null">
        CONSTANT_NAME,
      </if>
      <if test="constantType != null">
        CONSTANT_TYPE,
      </if>
      <if test="constantValue != null">
        CONSTANT_VALUE,
      </if>
      <if test="constantDesc != null">
        CONSTANT_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="constantId != null">
        #{constantId,jdbcType=VARCHAR},
      </if>
      <if test="constantName != null">
        #{constantName,jdbcType=VARCHAR},
      </if>
      <if test="constantType != null">
        #{constantType,jdbcType=VARCHAR},
      </if>
      <if test="constantValue != null">
        #{constantValue,jdbcType=VARCHAR},
      </if>
      <if test="constantDesc != null">
        #{constantDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bea.olp.SF_CONSTANT">
    update SF_CONSTANT
    <set>
      <if test="constantName != null">
        CONSTANT_NAME = #{constantName,jdbcType=VARCHAR},
      </if>
      <if test="constantType != null">
        CONSTANT_TYPE = #{constantType,jdbcType=VARCHAR},
      </if>
      <if test="constantValue != null">
        CONSTANT_VALUE = #{constantValue,jdbcType=VARCHAR},
      </if>
      <if test="constantDesc != null">
        CONSTANT_DESC = #{constantDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where CONSTANT_ID = #{constantId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bea.olp.SF_CONSTANT">
    update SF_CONSTANT
    set CONSTANT_NAME = #{constantName,jdbcType=VARCHAR},
      CONSTANT_TYPE = #{constantType,jdbcType=VARCHAR},
      CONSTANT_VALUE = #{constantValue,jdbcType=VARCHAR},
      CONSTANT_DESC = #{constantDesc,jdbcType=VARCHAR}
    where CONSTANT_ID = #{constantId,jdbcType=VARCHAR}
  </update>
</mapper>