<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bea.dao.SYS_BIZ_LOG_JBMapper">
  <resultMap id="BaseResultMap" type="com.bea.olp.SYS_BIZ_LOG_JB">
    <result column="LOG_NO" jdbcType="VARCHAR" property="logNo" />
    <result column="TRAN_CODE" jdbcType="VARCHAR" property="tranCode" />
    <result column="TRAN_DATE" jdbcType="VARCHAR" property="tranDate" />
    <result column="REQ_TIME" jdbcType="VARCHAR" property="reqTime" />
    <result column="TP_NO" jdbcType="VARCHAR" property="tpNo" />
    <result column="APP_NO" jdbcType="VARCHAR" property="appNo" />
    <result column="APPLY_NO" jdbcType="VARCHAR" property="applyNo" />
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType" />
    <result column="CERT_CODE" jdbcType="VARCHAR" property="certCode" />
    <result column="EXEC_STATUS" jdbcType="VARCHAR" property="execStatus" />
    <result column="RETURN_CODE" jdbcType="VARCHAR" property="returnCode" />
    <result column="RETURN_MSG" jdbcType="VARCHAR" property="returnMsg" />
    <result column="ERROR_CODE" jdbcType="VARCHAR" property="errorCode" />
    <result column="ERROR_MSG" jdbcType="VARCHAR" property="errorMsg" />
    <result column="HOST_NAME" jdbcType="VARCHAR" property="hostName" />
    <result column="FIELD1" jdbcType="VARCHAR" property="field1" />
    <result column="FIELD2" jdbcType="VARCHAR" property="field2" />
    <result column="FIELD3" jdbcType="VARCHAR" property="field3" />
    <result column="FIELD4" jdbcType="VARCHAR" property="field4" />
    <result column="FIELD5" jdbcType="VARCHAR" property="field5" />
    <result column="INPUT_DATE" jdbcType="VARCHAR" property="inputDate" />
    <result column="INPUT_TIME" jdbcType="VARCHAR" property="inputTime" />
  </resultMap>
  <insert id="insert" parameterType="com.bea.olp.SYS_BIZ_LOG_JB">
    insert into SYS_BIZ_LOG_JB (LOG_NO, TRAN_CODE, TRAN_DATE, 
      REQ_TIME, TP_NO, APP_NO, 
      APPLY_NO, CERT_TYPE, CERT_CODE, 
      EXEC_STATUS, RETURN_CODE, RETURN_MSG, 
      ERROR_CODE, ERROR_MSG, HOST_NAME, 
      FIELD1, FIELD2, FIELD3, 
      FIELD4, FIELD5, INPUT_DATE, 
      INPUT_TIME)
    values (#{logNo,jdbcType=VARCHAR}, #{tranCode,jdbcType=VARCHAR}, #{tranDate,jdbcType=VARCHAR}, 
      #{reqTime,jdbcType=VARCHAR}, #{tpNo,jdbcType=VARCHAR}, #{appNo,jdbcType=VARCHAR}, 
      #{applyNo,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, #{certCode,jdbcType=VARCHAR}, 
      #{execStatus,jdbcType=VARCHAR}, #{returnCode,jdbcType=VARCHAR}, #{returnMsg,jdbcType=VARCHAR}, 
      #{errorCode,jdbcType=VARCHAR}, #{errorMsg,jdbcType=VARCHAR}, #{hostName,jdbcType=VARCHAR}, 
      #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR}, #{field3,jdbcType=VARCHAR}, 
      #{field4,jdbcType=VARCHAR}, #{field5,jdbcType=VARCHAR}, #{inputDate,jdbcType=VARCHAR}, 
      #{inputTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bea.olp.SYS_BIZ_LOG_JB">
    insert into SYS_BIZ_LOG_JB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logNo != null">
        LOG_NO,
      </if>
      <if test="tranCode != null">
        TRAN_CODE,
      </if>
      <if test="tranDate != null">
        TRAN_DATE,
      </if>
      <if test="reqTime != null">
        REQ_TIME,
      </if>
      <if test="tpNo != null">
        TP_NO,
      </if>
      <if test="appNo != null">
        APP_NO,
      </if>
      <if test="applyNo != null">
        APPLY_NO,
      </if>
      <if test="certType != null">
        CERT_TYPE,
      </if>
      <if test="certCode != null">
        CERT_CODE,
      </if>
      <if test="execStatus != null">
        EXEC_STATUS,
      </if>
      <if test="returnCode != null">
        RETURN_CODE,
      </if>
      <if test="returnMsg != null">
        RETURN_MSG,
      </if>
      <if test="errorCode != null">
        ERROR_CODE,
      </if>
      <if test="errorMsg != null">
        ERROR_MSG,
      </if>
      <if test="hostName != null">
        HOST_NAME,
      </if>
      <if test="field1 != null">
        FIELD1,
      </if>
      <if test="field2 != null">
        FIELD2,
      </if>
      <if test="field3 != null">
        FIELD3,
      </if>
      <if test="field4 != null">
        FIELD4,
      </if>
      <if test="field5 != null">
        FIELD5,
      </if>
      <if test="inputDate != null">
        INPUT_DATE,
      </if>
      <if test="inputTime != null">
        INPUT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logNo != null">
        #{logNo,jdbcType=VARCHAR},
      </if>
      <if test="tranCode != null">
        #{tranCode,jdbcType=VARCHAR},
      </if>
      <if test="tranDate != null">
        #{tranDate,jdbcType=VARCHAR},
      </if>
      <if test="reqTime != null">
        #{reqTime,jdbcType=VARCHAR},
      </if>
      <if test="tpNo != null">
        #{tpNo,jdbcType=VARCHAR},
      </if>
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="applyNo != null">
        #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certCode != null">
        #{certCode,jdbcType=VARCHAR},
      </if>
      <if test="execStatus != null">
        #{execStatus,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null">
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="hostName != null">
        #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null">
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        #{field3,jdbcType=VARCHAR},
      </if>
      <if test="field4 != null">
        #{field4,jdbcType=VARCHAR},
      </if>
      <if test="field5 != null">
        #{field5,jdbcType=VARCHAR},
      </if>
      <if test="inputDate != null">
        #{inputDate,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>